name: Publish NuGet Nightly
on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:

jobs:
  publish:
    name: Push Nightly
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          dotnet run --project src/ZYC.Automation.Build.NuGet/ZYC.Automation.Build.NuGet.csproj -c Release --property:DefineConstants="PUBLISH_NIGHTLY"
